.table {
  display: flex;
  flex-direction: column;
  &__detail {
    display: flex;
    flex-direction: row;
  }
}

.row {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  //   min-width: 100px;
  //   margin: 0;
  padding: 5px 10px;
}

.input {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  //   min-width: 100px;
  //   margin: 0;
  padding: 5px 10px;
}

.table {
  display: flex;
}
